@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: '3#F1F5FE';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

.FI {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.CardComponent {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100
  }

  to {
    opacity: 0;
  }
}